.square{
    position: relative;
    height: 45px;
    width: 45px;
    /* border: 1px solid #739552; */
}
.dark{
    background-color: #739552;
}
.light{
    background-color: #ebecd0;
}
.dark-highlighted{
    background-color: #c0d14b;
}
.light-highlighted{
    background-color: #f5f682;
}
.marked{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    opacity: 0.7;
    top: 50%;
    left:50%;
    background-color: #4b4a4a;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.circlemark{
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    opacity: 0.7;
    top: 50%;
    left:50%;
    border: 3px solid #4b4a4a;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.pointer{
    cursor: pointer;
}
